@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  /* background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5); */
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.time-audio{
  display: flex;
  flex-direction: row;
}
.player{
  position: relative;
  width: 250px;
  height: auto;
  padding: 5px;
  background: transparent;
  box-shadow: 0 0 20px 0 #000a;
  transition: .3s;
  opacity: 1;
  z-index: 5;
}
.track{
  padding: 5px;
}
.timeline{
  background: #f3f0e1;
  margin-bottom: 8px;
  height: 5px;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}
  .timeline .progress {
    background: #C5B358;
    width: 0%;
    height: 100%;
    transition: 0.25s;
  
}

.volume-line{
  background: #f3f0e1;
  height: 5px;
  width: 80%;
  position: relative;
  cursor: pointer;
  box-shadow: 0 2px 10px 0 #0008;
}

.volume-line .volume-progress{
  background: #C5B358;
  width: 100%;
  height: 100%;
  transition: 0.25s;
}


.progress-bar{
  appearance: none;
  height: 5px;
  background: #000000;
  width: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
  
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.volume_icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.volume_icon {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.volume_icon:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume_icon {
  background-image: url("../assets/svg/volume.svg");
}

.mute {
  background-image: url("../assets/svg/mute.svg");
}


.volume {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 20px;
  line-height: 24px;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  transition: .3s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
  z-index: 2;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px; 
  transition: .3s; 
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: .3s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: .3s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.teg-text{
  font-size: 14px;
  color: grey;
}

.quote-container{
  transition: .3s;
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 10px;
}

.switch input {
  visibility: hidden;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings{ 
  background-color:black;
  padding: 5px;
  border-radius: 20px;
  width: 350px;
  height: auto;
opacity: 0.8;
position: absolute;
top: 400px;
z-index: 5;
}

.languages {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  align-items: center;
}

.languages-wrapper{
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  display: flex;
  align-items: center;
}
.languages-wrapper p{
  font-size: 14px;
}
label {
    font-size: 10px;
}

input{
  padding-top: 5px;
}

h2 {
  font-size: 20px;
  margin-bottom: 3px;
}

p{
  font-size: 16px;
}

.audio-player,
.weather-forecast,
.data,
.time-wrapper,
.greeting-settings,
.quotes-settings,
.todo-settings {
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  border-bottom: solid 1px #ccc;
  align-items: center;
}

.slider-wrapper {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: solid 1px #ccc;
}

.slider-inner{
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}



.container{
  width: 250px;
  min-width: 150px;
  position: absolute;
  bottom: -190px;
  right: 25px;
  padding: 5px;
  z-index: 5;
}
#newtask{
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
#newtask input{
  width: 70%;
  width: 70%;
  height: 45px;
  font-family: 'Poppins',sans-serif;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
#newtask input:focus{
  outline: none;
  border-color: #8052ec;
}

#newtask button{
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #8052ec;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
#tasks{
  background-color: #ffffff;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
  width: 100%;
  position: relative;
}
.task{
  background-color: #ffffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.task span{
  font-family: 'Poppins',sans-serif;
  color:black;
  font-size: 15px;
  font-weight: 400;
}
.task button{
  background-color: #8052ec;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
.completed{
  text-decoration: line-through;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}